<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.cn/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.cn/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/PJDetial.css">
    <!-- <script src="/vue/vue.js"></script> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Project Detial Showcase</title>
    <link rel="icon" href="./images/uoa-logo.jpg" id="icon">  </link>
    <script src="./js/loginstate.js"></script>
</head>
<body>
    <div id="backtop">
        <a href="#top"><img src="./images/rocket.svg" alt="backtop"></a>
    </div>
    <header>
        <section id="top" class="top-nav">
            <div class="left-menu col-md-8 ">
                <img src="./images/uoa-logo.jpg" alt="logo">
                
                <a href="javascript:;">Home</a>
                <a href="javascript:;">About us</a>
                <a href="./Projects.html"><button class="btn">Project</button></a>
                <a href="./login.html" id="login">Log in</a>
                <a href="./space.html" id="space">My Space</a>   
                          
                
            </div>
            <div class="search-wrap">
                <div>
                    <input type="text" placeholder="Search Projects">
                    <img src="./images/Search.svg" alt="Search">
                </div>
                <a href="javascript:;" id="signout"><button class="btn" onclick="signout()">Sign Out</button></a>
            </div>
        </section>
    </header>
    <main>
        <section class="pjinfo">
            <div class="like" v-if="like">
                <a href="javascript:;" @click="likePJ"><img src="./images/heart_remove.svg" alt="unlike_icon"><span><p>{{pj_likes}}</p></span></a>
            </div>
            <div class="like" v-if="unlike">
                <a href="javascript:;" @click="unlikePJ"><img src="./images/red-heart-icon.svg" alt="like_icon"><span><p>{{pj_likes}}</p></span></a>
            </div>
            <div class="pjname-container">
                <h1 id="pjname">{{pj_name}}</h1>
                <div class="pjdetial-container">
                    <span id="pjlangu">{{pj_Tech}}</span>
                    <span id="pjupdate">{{pj_date}}</span>
                    <span id="pjviewnum">{{pj_views}} Views</span>
                    <span id="pjlikenum">{{pj_likes}} Likes</span>
                    <span id="pjcommentnum">{{pj_comnums}} Comments</span>
                </div>
            </div>
            <div class="pjteam-container">
                <div class="pjteaminfo">
                    <div class="teamicon">
                        <a v-bind:href="pj_ownerSpace">
                            <img src="./images/uoa-logo.jpg" alt="">
                        </a>
                        <a v-bind:href="pj_ownerSpace" id="teamname"> 
                            {{pj_tName}}
                        </a>
                    </div>
                    <!-- <div class="teamname-container">
                        
                    </div> -->

                </div>
            </div>
            <hr>
            <div class="pjtext">
                {{pj_Tagline}}  
            </div>
            <hr>
            <div class="pjtext" id="pjintro">
                
            </div>
            
        </section>

        <script>
            let vm = Vue.createApp({
                data(){
                    return{
                        pj_name:"Project Nmae",
                        pj_Tagline:"2022 University Surveys - it’s not too late to have your say (and be entered in the prize draw)! ",
                        pj_Tech:"java",
                        pj_date:"2022/10/06",
                        pj_views:"150",
                        pj_likes:50,
                        pj_comnums:"10",
                        pj_tName:"Team Name",
                        pj_intro:"The 2022 Learning and Teaching Survey and the 2022 Research on Academic Integrity in New Zealand (RAINZ) Survey will be closing in the next few days, so check your student email for an invitation message and survey link. Your feedback is very important – the survey results are used to make changes and improvements that benefit you, such as adding captions to lecture recordings. For further information view the Learning & Teaching SurveyLinks to an external site. or RAINZ SurveyLinks to an external site. webpages Participation in these surveys is completely voluntary and does not affect any of your grades – but if you complete your survey by 10 October, you will be in the prize draw to win 1 of 60 $100 Prezzy cards. ",
                        pj_ownerSpace:"https://api.crya.me/space.html",
                        like: true,
                        unlike: false
                    }
                },
                methods:{
                    getName(uuid){
                        axios.get('user/getuser/'+uuid)
                        .then(function (response) {
                            vm.pj_tName = response.data.username;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    },
                    likePJ(){
                        vm.like = !this.like;
                        vm.unlike = !this.unlike;
                        vm.pj_likes++;
                    },
                    unlikePJ(){
                        vm.unlike = !this.unlike;
                        vm.like = !this.like;
                        vm.pj_likes--;
                    }
                    // getOwn(){
                    //     axios.get('user/getown')
                    //     .then(function (response) {
                    //         vm.pj_tName = response.data.id;
                    //     })
                    //     .catch(function (error) {
                    //         console.log(error);
                    //     });
                    // }
                },
                mounted(){
                    let pjId = getUrlParam("id");
                    if(pjId==null){

                    }else{
                        axios.get('project/getProject/'+pjId)
                        .then(function (response) {
                        let pjinfo = response.data;
                        vm.pj_name= pjinfo.pname;
                        vm.pj_Tagline= pjinfo.tagline;
                        vm.pj_Tech= pjinfo.technologies;
                        vm.pj_date= pjinfo.date;
                        document.getElementById('pjintro').innerHTML = pjinfo.introduction;
                        vm.getName(pjinfo.owner);
                        vm.pj_ownerSpace= "https://api.crya.me/space.html?id="+ pjinfo.owner;
                        console.log(vm.pj_ownerSpace);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    }
                    
                }
            }).mount('.pjinfo')
            function getUrlParam(name) {

            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");

            var r = window.location.search.substr(1).match(reg);

            if (r != null) return unescape(r[2]); return null;

            }
        </script>


        <section class="pjcomments" >
            <div class="commentnum" id="pjcommentnum">10 Comments</div>
            <hr>
            <div class="commentsend">
                <div class="usericon"><img src="./images/uoa-logo.jpg" alt=""></div>
                <textarea type="text" placeholder="Say Hi to the World!" id="pj-comment-text"> </textarea>
                <button type="submit" id="pj-comment-submit">Post Comment</button>
            </div>
            <hr>
            <div class="commentget">

            </div>

        </section>
        
    </main>
    <footer>
        <section id="bottomBody" class=".container">
            <nav class="col-md-6">
                <ul>
                    <h4>Team19</h4>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </nav>
            <nav class="col-md-6">
                <ul>
                    <h4>Profile</h4>
                    <li><a href="./PJDetial.html">My projects</a></li>
                    <li><a href="./space.html">My homepage</a></li>
                    <li><a href="./setting.html">Settings</a></li>
                </ul>
            </nav>
        </section>
        <hr>
        <section id="legalBar"><p>&copy; 2022 Team19.&nbspAll rights reserved. </p></section>    
    </footer>
</body>
</html>