<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.cn/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.cn/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous"> -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="./css/PJUpload.css">
    <!-- <script src="/vue/vue.js"></script> -->
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Project Showcase</title>
    <link rel="icon" href="./images/uoa-logo.jpg" id="icon">  </link>
    <script src="./js/wangEditor.js"></script>
    <link href="./css/wangEditor.css" rel="stylesheet">
    <script src="./js/loginstate.js"></script>
    <script src="./js/imageUpload.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</head>
<body>
    <header>
        <section id="top" class="top-nav">
            <nav class="navbar navbar-dark bg-dark" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#example-navbar-collapse">
                            <span class="sr-only">Switch</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="./Home.html"><img src="./images/logo.jpg" alt="" style="height: 80px;width: 80px;margin-top: 10px;"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="example-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active navl"><a href="./Home.html">Home</a></li>
                            <li class="navl"><a href="./Projects.html">Projects</a></li>
                            <li class="navl"><a href="./space.html">My Space</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li id="login"><a href='login.html'>Login&Register</a></li>
                        </ul>
            
                    </div>
                </div>
            </nav>
        </section>
        <script>
            function getCookie(cname){
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i<ca.length; i++) {
            var c = ca[i].trim();
            if (c.indexOf(name)==0) { return c.substring(name.length,c.length); }
            }
            return "";
            }
            
            if (getCookie("Auth")!=""){
            document.getElementById("login").innerHTML = "<a><button type=\"button\" class=\"btn btn-danger\" style=\"border-radius:50px\" href=\"javascript:void(0)\" onclick=\"logout()\">Sign out</button></a>"
            }
            
            function logout(){
            document.cookie = 'Auth' + '=0;expires=' + new Date(0).toUTCString();
            window.location.reload();
            }
        </script>
        <section id="pjpost">
            <div id="pjposttext">
                <h1 class="col-md-10">Edit a Project</h1>
            </div>
        </section>
    </header>
    <main>
        <section class="content">
            <div class="pjCover">
                <label for="pj_cover">
                    <abbr title="required">*</abbr>
                    Project Cover Photo
                </label>
                <div class="col-md-4" id="uploadcover">
                    <input type="file"  onchange="previewFile()" id="pj_cover" accept="image/jpeg,image/jpg,image/pjpeg,image/png,image/x-png,image/gif">
                    <img src="./images/uoa-logo.jpg" id="pjCoverimg"  alt="Image preview">
                    <p id="size" style="color: red; display: none;">The size of project cover cannot larger than 2MB!</p>
                </div>
    
            </div>
            <div class="pjName">
                <label for="pj_name">
                    <abbr title="required">*</abbr>
                    Project Name
                </label>
                <input type="text" id="pj_name" v-model="pj_name"> </input>
            </div>

            <div class="pjTagline">
                <label for="pj_Tagline">
                    <abbr title="required">*</abbr>
                    Short Tagline
                </label>
                <input type="text" id="pj_Tagline" v-model="pj_Tagline"> </input>
            </div>
            
            <div class="pjTech">
                <label for="pj_Tech">
                    <abbr title="required">*</abbr>
                    Built Technologies
                </label>
                <input type="text" id="pj_Tech" v-model="pj_Tech" readonly> </input>
                <span>
                    <label><input class="skill" type="checkbox" v-model="pj_Tech" value="C#"><span>C#</span></label>
                    <label><input class="skill" type="checkbox" v-model="pj_Tech" value="C++"><span>C++</span></label>
                    <label><input class="skill" type="checkbox" v-model="pj_Tech" value="Javascript"><span>Javascript</span></label>
                    <label><input class="skill" type="checkbox" v-model="pj_Tech" value="Java"><span>Java</span></label>
                    <label><input class="skill" type="checkbox" v-model="pj_Tech" value="Python"><span>Python</span></label>
                    <label>
                        <input type="checkbox" value="Other">
                        <span>Other</span>
                        <input type="text" v-model="pj_TechO" placeholder="Use ',' to separate" id="other">  
                    </label>
                    
                </span>
            </div>

            <div class="pjDesc">
                <label for="pj_Desc">
                    <abbr title="required">*</abbr>
                    Project Description
                </label>
                <!-- <textarea type="text" id="pj_Desc" v-model="pj_Desc"> </textarea> -->
                <div class="descText">
                    <div id="editor-toolbar"></div>
                    <div id="editor-text-area"></div>
                </div>
            </div>
            

            <!-- <div class="pjGallery">
                <label for="pj_images">
                    <abbr title="required"> &nbsp;&nbsp;</abbr>
                    Project Gallery
                </label>
                <span id="pjimgupload">
                    <input type="file" onchange="showImages()" id="pj_images" accept="image/jpeg,image/jpg,image/pjpeg,image/png,image/x-png,image/gif" multiple>
                    
                    <p id="feedback" style="color: red;"></p>
                    <input id="upimg" type="button" value="Upload images" class="btn btn-success" onclick="Uploadimg()">
                    <hr>
                    <div id="images">
                        
                    </div>
                </span>
                
            </div> -->
            

            <div class="pjAction">
                <div>
                    <input type="submit" value="Save" id="pjSave" class="btn btn-success" @click="updatePj">
                    <input type="button" value="Cancel" class="btn btn-warning" @click="backPj">
                </div>
                <input type="button" value="Delete" class="btn btn-danger" @click="delPj">
            </div>
 
        </section>
        <script>
            const dataURLtoFile=(dataurl, filename)=> {
                let arr = dataurl.split(",");
                let  mime = arr[0].match(/:(.*?);/)[1];
                let  bstr = window.atob(arr[1]);
                let  n = bstr.length;
                let  u8arr = new Uint8Array(n);
                while (n--) {
                    u8arr[n] = bstr.charCodeAt(n);
                }
                return new File([u8arr], filename, { type: mime });
            }
        </script>
        <script>
            

            let pj = Vue.createApp({
                data(){
                    return{
                        pj_name:"",
                        pj_Tagline:"",
                        pj_Tech:[],
                        pj_TechO:[],
                        pj_Cover:"",
                        pj_intro:""       
                    }
                },
                methods:{
                    updatePj(){ 
                        let pjId = this.getUrlParam("pid");
                        let intro = editor.getHtml();
                        let separate = '';
                        var coverbase = document.getElementById("pjCoverimg").src;
                        if(this.pj_TechO.length != 0 && this.pj_Tech.length!=0){
                            separate = ','
                        }
                        var skill =  this.pj_Tech+ separate + this.pj_TechO;
                        let param = new FormData(); 
                        let config = {headers:{'Content-Type':'multipart/form-data'}};
                        let err = false;         
                        // Cover
                        param.append("pid",pjId);
                        param.append("file",coverbase);
                        axios.post('project/updateProjectCover', param, config//?Pid='+pjId+"&file="+coverbase
	                        ).then(function (response) {
                            // console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                            err = true;
                        });
                        // Intro
                        param = new FormData();
                        param.append("NewPIntro",intro);
                        param.append("Pid",pjId);
                        axios.post('project/updateProjectIntro', param, config//?Pid='+pjId+"&NewPIntro="+pj.pj_intro
	                        ).then(function (response) {
                            // console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                            err = true;
                        });
                        //pname
                        param = new FormData();
                        param.append("Pid",pjId);
                        param.append("NewPname",pj.pj_name);
                        axios.post('project/updateProjectName', param, config//?Pid='+pjId+"&NewPname="+pj.pj_name
	                        ).then(function (response) {
                            // console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                            err = true;
                        });
                        //tagline
                        param = new FormData();
                        param.append("Pid",pjId);
                        param.append("NewTagLine",pj.pj_Tagline);
                        axios.post('project/updateProjectTagLine', param, config//?Pid='+pjId+"&NewTagLine="+pj.pj_Tagline
	                        ).then(function (response) {
                            // console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                            err = true;
                        });
                        //skill
                        param = new FormData();
                        param.append("pid",pjId);
                        param.append("skills",skill);
                        axios.post('project/UpdateSkill', param, config//?Pid='+pjId+"&intro="+skill
	                        ).then(function (response) {
                            // console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                            err = true;
                        });
                        if(!err){
                            Swal.fire({
                                title: 'Success!',
                                text: "Your project has been updated!",
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Okay!'
                                }).then((result) => {
                                    window.location.href = "./PJDetail.html?id="+pjId;
                                })                                              
                        }else{
                            Swal.fire({
                                    type: 'error',
                                    title: 'Oops...',
                                    text: 'Something went wrong!',
                                    footer: "Please try again later or contact the admin."
                                })
                        }
                        
                    },
                    getUrlParam(name) {

                        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");

                        var r = window.location.search.substr(1).match(reg);

                        if (r != null) return unescape(r[2]); return null;

                    },
                    getSkills(pid){
                        axios.get('project/GetProjectSkills?pid='+pid)
                        .then(function (response) {
                            var skills= response.data.substr(1,response.data.length-2).split(",");
                            var inputs = document.getElementsByClassName("skill");
                            var skillo = new Array();
                            var skillc = new Array();
                            for(var i = 0; i<inputs.length; i++){
                                for(var s = 0; s<skills.length; s++){
                                    if(skills[s].trim()==inputs[i].value){
                                        // inputs[i].checked = true;
                                        skillc.push(inputs[i].value);
                                    }
                                }
                            }
                            pj.pj_Tech = skillc;
                            if(skills.length > pj.pj_Tech.length){
                                for(var i=0; i<skills.length; i++){
                                    if(pj.pj_Tech.indexOf(skills[i].trim()) == -1){
                                        skillo.push(skills[i].trim());
                                    }
                                }
                            }
                            pj.pj_TechO = skillo;
                                                             
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    },
                    getProject(pid){
                        axios.get('project/getProjectPageByPid?pid='+pid)
                        .then(function (response) {
                        let pjinfo = response.data;
                        document.getElementById("pjCoverimg").src = pjinfo.coverImage;
                        pj.pj_name= pjinfo.pname;
                        pj.pj_Tagline= pjinfo.tagline;
                        pj.getSkills(pid);
                        pj.pj_intro = pjinfo.introduction;
                        // vm.getName(pjinfo.owner);
                        editor.setHtml(pj.pj_intro);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    },
                    backPj(){
                        let pjId = this.getUrlParam("pid");
                        window.location.href = "./PJDetail.html?id="+pjId;
                    },
                    delPj(){
                        let pjId = this.getUrlParam("pid");
                        Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {
                        if (result.value) {
                            axios.post('project/removeProject?pid='+pjId)
                            .then(function(response){
                                if(response.data == "delete success by admin" || response.data == "delete success by teacher" || response.data == "success"){
                                    Swal.fire({
                                    title: 'Deleted!',
                                    text: "Your project has been deleted!",
                                    type: 'success',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'Okay!'
                                    }).then((result) => {
                                        window.location.href = "./Projects.html"
                                    }) 
                                }else{
                                    Swal.fire({
                                    type: 'error',
                                    title: 'Oops...',
                                    text: 'Something went wrong!',
                                    footer: response.data
                                })
                                }
                                // windsow.location.href = "./Projects.html";
                            })
                            .catch(function(error){
                                console.log(error);
                            });
                            
                        }
                        })                      
                    }

                },
                mounted(){
                    let pjId = this.getUrlParam("pid");
                    this.getProject(pjId);
                }
            }).mount('.content')
        </script>   
    </main>
    <footer>
        <hr>
        <section id="bottomBody" class=".container">
            <nav class="col-md-6">
                <ul>
                    <h4>Team19</h4>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </nav>
            <nav class="col-md-6">
                <ul>
                    <h4>Profile</h4>
                    <li><a href="./myprojects.html">My projects</a></li>
                    <li><a href="./space.html">My homepage</a></li>
                    <li><a href="./setting.html">Settings</a></li>
                </ul>
            </nav>
        </section>
        <hr>
        <section id="legalBar"><p>&copy; 2022 Team19.&nbspAll rights reserved. </p></section>    
    </footer>
</body>
<script>
    const E = window.wangEditor;



    E.i18nChangeLanguage('en');



    window.editor = E.createEditor({

        selector: '#editor-text-area',

        html: '<p><br></p>',

        config: {

            placeholder: 'Type here...',

            MENU_CONF: {

            }

        }

    });



    window.toolbar = E.createToolbar({

        editor,

        selector: '#editor-toolbar',

        config: {

            excludeKeys : [

                'uploadImage',

                'uploadVideo'

            ]

        }

    });

    
</script>
</html>


