<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.cn/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.cn/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/PJUpload.css">
    <!-- <script src="/vue/vue.js"></script> -->
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Project Showcase</title>
    <link rel="icon" href="./images/uoa-logo.jpg" id="icon">  </link>
    <script src="./js/wangEditor.js"></script>
    <link href="./css/wangEditor.css" rel="stylesheet">
    <script src="./js/loginstate.js"></script>
    <script src="./js/imageUpload.js" defer></script>
</head>
<body>
    <header>
        <section class="top-nav">
            <div class="left-menu col-md-8 ">
                <img src="./images/uoa-logo.jpg" alt="logo">
                
                <a href="javascript:;">Home</a>
                <a href="javascript:;">About us</a>
                <a href="./Projects.html"><button class="btn">Project</button></a>
                <a href="./login.html" id="login">Log in</a>
                <a href="./space.html" id="space">My Space</a>   
                          
                
            </div>
            <div class="search-wrap">
                <div>
                    <input type="text" placeholder="Search Projects">
                    <img src="./images/Search.svg" alt="Search">
                </div>
                <a href="javascript:;" id="signout"><button class="btn" onclick="signout()">Sign Out</button></a>
            </div>
        </section>
        <section id="pjpost">
            <div id="pjposttext">
                <h1 class="col-md-10">Post a new Project</h1>
            </div>
        </section>
    </header>
    <main>
        <section class="content">
            <div class="pjName">
                <label for="pj_name">
                    <abbr title="required">*</abbr>
                    Project Name
                </label>
                <input type="text" id="pj_name" v-model="pj_name"> </input>
            </div>

            <div class="pjTagline">
                <label for="pj_Tagline">
                    <abbr title="required">*</abbr>
                    Short Tagline
                </label>
                <input type="text" id="pj_Tagline" v-model="pj_Tagline"> </input>
            </div>
            
            <div class="pjTech">
                <label for="pj_Tech">
                    <abbr title="required">*</abbr>
                    Built Technologies
                </label>
                <input type="text" id="pj_Tech" v-model="pj_Tech"> </input>
            </div>

            <div class="pjDesc">
                <label for="pj_Desc">
                    <abbr title="required">*</abbr>
                    Project Description
                </label>
                <!-- <textarea type="text" id="pj_Desc" v-model="pj_Desc"> </textarea> -->
                <div class="descText">
                    <div id="editor-toolbar"></div>
                    <div id="editor-text-area"></div>
                </div>
            </div>
            

            <div class="pjGallery">
                <label for="pj_images">
                    <abbr title="required"> &nbsp;&nbsp;</abbr>
                    Project Gallery
                </label>
                <span id="pjimgupload">
                    <input type="file" onchange="showImages()" id="pj_images" accept="image/jpeg,image/jpg,image/pjpeg,image/png,image/x-png,image/gif" multiple>
                    <!-- <p>Or drag or drop images here</p> -->
                    <p id="feedback" style="color: red;"></p>
                    <input id="upimg" type="button" value="Upload images" class="btn btn-success" onclick="Uploadimg()">
                    <hr>
                    <div id="images">
                        
                    </div>
                </span>
                
            </div>
            

            <div class="pjAction">
                <input type="submit" value="Save" id="pjSave" class="btn btn-success" @click="postPj">
                <input type="button" value="Cancel" class="btn btn-danger">
            </div>
 
        </section>
        <script>
            Vue.createApp({
                data(){
                    return{
                        pj_name:"",
                        pj_Tagline:"",
                        pj_Tech:"",       
                    }
                },
                methods:{
                    postPj(){ 
                        let intro = editor.getHtml();
                        axios.post('project/uploadProject',
                            "pname=" + this.pj_name +"&shortTagline=" + this.pj_Tagline +"&planguage=" + this.pj_Tech + "&introduction=" + intro
	                        ).then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    }
                }
            }).mount('.content')
        </script>   
    </main>
    <footer>
        <hr>
        <section id="bottomBody" class=".container">
            <nav class="col-md-6">
                <ul>
                    <h4>Team19</h4>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </nav>
            <nav class="col-md-6">
                <ul>
                    <h4>Profile</h4>
                    <li><a href="./PJDetial.html">My projects</a></li>
                    <li><a href="./space.html">My homepage</a></li>
                    <li><a href="./setting.html">Settings</a></li>
                </ul>
            </nav>
        </section>
        <hr>
        <section id="legalBar"><p>&copy; 2022 Team19.&nbspAll rights reserved. </p></section>    
    </footer>
</body>
<script>
    const E = window.wangEditor;



    E.i18nChangeLanguage('en');



    window.editor = E.createEditor({

        selector: '#editor-text-area',

        html: '<p><br></p>',

        config: {

            placeholder: 'Type here...',

            MENU_CONF: {

            }

        }

    });



    window.toolbar = E.createToolbar({

        editor,

        selector: '#editor-toolbar',

        config: {

            excludeKeys : [

                'uploadImage',

                'uploadVideo'

            ]

        }

    });
    
</script>
</html>


