<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.cn/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.cn/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/Projects.css">
    <!-- <script src="/vue/vue.js"></script> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./css/Projects.css"></script>
    <title>Project Showcase</title>
    <link rel="icon" href="./images/uoa-logo.jpg" id="icon">  </link>
    <script src="./js/loginstate.js"></script>
</head>
<body>
    <div id="backtop">
        <a href="#top"><img src="./images/rocket.svg" alt="backtop"></a>
    </div>
    <header>
        <section id="top" class="top-nav">
            <div class="left-menu col-md-8 ">
                <img src="./images/uoa-logo.jpg" alt="logo">
                
                <a href="javascript:;">Home</a>
                <a href="javascript:;">About us</a>
                <a href="./Projects.html"><button class="btn">Project</button></a>
                <a href="./login.html" id="login">Log in</a>
                <a href="./space.html" id="space">My Space</a>   
                          
                
            </div>
            <div class="search-wrap">
                <div>
                    <input type="text" placeholder="Search Projects">
                    <img src="./images/Search.svg" alt="Search">
                </div>
                <a href="javascript:;" id="signout"><button class="btn" onclick="signout()">Sign Out</button></a>
            </div>
        </section>
        <section id="pjsearch">
            <div id="pjsearchtext">
                <h1 class="col-md-10">Search Projects from Portfolio</h1>
                <a type="button" class="btn btn-info col-md-2" href="./PJUpload.html">Upload Project</a>
            </div>
            <div id="pjsearchbar">
                <input type="text" class="form-control" placeholder="Search Projects With Key Words" aria-describedby="basic-addon1" v-model="keywords"> 
                <ul>
                    <li v-for="pj in pjs" >
                        {{ pj.text }}            
                    </li>
                    <li>**</li>
                    <li>**</li>
                    <li>**</li>
                    <li>**</li>
                    <li>**</li>
                </ul>

            </div>
        </section>
    </header>
    <main>
        <nav id="selectbar">
            <ul>
                <li><a href="#">ALL</a></li>
                <li><a href="#Java">Java</a></li>
                <li><a href="#Python">Python</a></li>
                <li><a href="#PHP">PHP</a></li>
                <li><a href="#Go">Go</a></li>
                <li><a href="#HTML">HTML</a></li>
                <!-- <li><a href="#">Linux</a></li>
                <li><a href="#">sadasd</a></li>
                <li><a href="#">asdasd</a></li>
                <li><a href="#">sadasd</a></li>
                <li><a href="#">sadasd</a></li> -->
            </ul>
        </nav>
        <div class="mainbody">
            <div class=".container">
                <section class="mainleft col-md-10">
                    <a href="#"><h3 id="Java"><img src="./images/Java_logo.svg" alt="Java_logo">&nbsp; Java</h3> </a>
                    <ul>
                        <li><a href="#"><img src="./images/Java_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Java_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Java_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Java_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Java_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Java_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Java_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Java_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Java_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Java_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>    
                    </ul>
                </section>
                <section class="mainright col-md-2 hidden-sm hidden-xs">
                    <h3>Ranking</h3>
                    <ul>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                    </ul>
                </section>  
            </div>
            <div class=".container">
                <section class="mainleft col-md-10">
                    <a href="#"><h3 id="Python"><img src="./images/Python_logo.svg" alt="">&nbsp; Python</h3> </a>
                    <ul>
                        <li><a href="#"><img src="./images/Python_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Python_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Python_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Python_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Python_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Python_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Python_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Python_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Python_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Python_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>    
                    </ul>
                </section>
                <section class="mainright col-md-2 hidden-sm hidden-xs">
                    <h3>Ranking</h3>
                    <ul>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                    </ul>
                </section>  
            </div>
            <div class=".container">
                <section class="mainleft col-md-10">
                    <a href="#"><h3 id="PHP"><img src="./images/PHP-logo.svg" alt=""></h3> </a>
                    <ul>
                        <li><a href="#"><img src="./images/PHP-logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/PHP-logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/PHP-logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/PHP-logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/PHP-logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/PHP-logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/PHP-logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/PHP-logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/PHP-logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/PHP-logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>    
                    </ul>
                </section>
                <section class="mainright col-md-2 hidden-sm hidden-xs">
                    <h3>Ranking</h3>
                    <ul>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                    </ul>
                </section>  
            </div>
            <div class=".container">
                <section class="mainleft col-md-10">
                    <a href="#"><h3 id="Go"><img src="./images/Go_Logo_Blue.svg" alt=""></h3> </a>
                    <ul>
                        <li><a href="#"><img src="./images/Go_Logo_Blue.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Go_Logo_Blue.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Go_Logo_Blue.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Go_Logo_Blue.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Go_Logo_Blue.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Go_Logo_Blue.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Go_Logo_Blue.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Go_Logo_Blue.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Go_Logo_Blue.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/Go_Logo_Blue.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>    
                    </ul>
                </section>
                <section class="mainright col-md-2 hidden-sm hidden-xs">
                    <h3>Ranking</h3>
                    <ul>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                    </ul>
                </section>  
            </div>
            <div class=".container">
                <section class="mainleft col-md-10">
                    <a href="#"><h3 id="HTML"><img src="./images/HTML5_logo.svg" alt="">HTML</h3> </a>
                    <ul>
                        <li><a href="#"><img src="./images/HTML5_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/HTML5_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/HTML5_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/HTML5_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/HTML5_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/HTML5_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/HTML5_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/HTML5_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/HTML5_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>
                        <li><a href="#"><img src="./images/HTML5_logo.svg" alt=""><p><span class="glyphicon glyphicon-eye-open"></span>500 <span class="glyphicon glyphicon-heart">500 </span>  <span class="
                            glyphicon glyphicon-thumbs-up">500</span></p><p>Project Name</p></a></li>    
                    </ul>
                </section>
                <section class="mainright col-md-2 hidden-sm hidden-xs">
                    <h3>Ranking</h3>
                    <ul>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                        <li><a href="#">112334</a></li>
                    </ul>
                </section>  
            </div>  
        </div>
    </main>
    <footer>
        <section id="bottomBody" class=".container">
            <nav class="col-md-6">
                <ul>
                    <h4>Team19</h4>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </nav>
            <nav class="col-md-6">
                <ul>
                    <h4>Profile</h4>
                    <li><a href="./PJDetial.html">My projects</a></li>
                    <li><a href="./space.html">My homepage</a></li>
                    <li><a href="./setting.html">Settings</a></li>
                </ul>
            </nav>
        </section>
        <hr>
        <section id="legalBar"><p>&copy; 2022 Team19.&nbspAll rights reserved. </p></section>    
    </footer>
</body>
</html>