* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .wrap .pos-text {
        width: 240px !important;
    }

    footer .list {
        width: 240px !important;
    }

    .wrap-box .text-box {
        position: relative;
        top: -80px;
        float: right;
        width: 23vw;
        padding: 20px;
        border-radius: 20px;
        overflow: hidden;
        background-color: rgb(215, 215, 215, .7);
    }

    .wrap-box {
        width: 240px !important;
    }

    .pic-box {
        width: 150px !important;
    }

    .text-box {
        width: 138px !important;
    }

    .wrap-box .text-box .title {
        margin-bottom: 10px;
        font-size: 1.2vw;
        color: #fff;
    }

    .wrap-box .text-box .tips {
        font-size: 0.8vw;
        font-weight: 550;
        color: rgb(28, 69, 123);
    }
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333;
}

body {
    min-width: 600px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}



img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-pc {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
    color: #fff;
    background-color: #004681;
}

.header-pc .left-box {
    display: flex;
}

.left-box .logo-box {
    width: 80px;
    height: 100%;
    margin-right: 20px;
}

.left-box .nav-box {
    display: flex;
}

.left-box .nav-box .nav-item {
    width: 120px;
    height: 100%;
    font-size: 20px;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
}

.left-box .nav-box .nav-item:hover {
    background-color: rgb(176, 189, 211);
    color: #004681;
    transition: all 0.4s linear;
    font-weight: bold;
}

.right-box {
    display: flex;
    align-items: center;
}

.right-box .nav-box {
    display: contents;

}


.right-box .nav-box .nav-item {
    width: 250px;
    height: 100%;
    font-size: 20px;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    float: right;
    background-color: #004681;
}

.right-box .nav-box .nav-item:hover {
    background-color: rgb(176, 189, 211);
    color: #004681;
    transition: all 0.4s linear;
    font-size: 25px;
    font-weight: bold;

}


.right-box .input-box {
    margin-right: 20px;
    position: relative;
}

.right-box .input-box img {
    width: 20px;
    height: 20px;
    /* margin-left: -30px; */
    position: absolute;
    right: 10px;
    top: 6px;
}

input {
    height: 32px;
    padding: 2px 10px;
    font-size: 16px;
    border-radius: 20px;
    outline: none;
    border: none
}

.right-box .input-box input {
    height: 32px;
    padding: 2px 10px;
    font-size: 16px;
    border-radius: 20px;
    outline: none;
    border: none
}

.right-box .auth-box .auth-item {
    font-size: 20px;
    line-height: 80px;
}

.navbar {
    min-height: 100px;
    background-color: #004681;
    border-color: #004681;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    margin-left: 30px;
    font-size: 24px;
    padding-top: 0;
    color: white;
}

.navbar-nav li a:hover {
    background-color: #00AEEC;
}

.navbar-toggle {
    background-color: #00AEEC;
    margin-top: 30px;
}

.icon-bar {
    color: white;
    background-color: white;
}

.header-mobile {
    display: none;
    justify-content: space-between;
    height: 80px;
    background-color: rgb(27, 69, 123);
}


.header-mobile .nav-box {
    position: relative;
    width: 80px;
    height: 100%;
}

.header-mobile .nav-box .icon {
    width: 100px;
    height: 100%;
    background: url(../images/list.png) no-repeat center center;
    background-size: 40%;
    cursor: pointer;
}

.header-mobile .nav-box:hover .nav-list {
    display: block;

}

.header-mobile .nav-box .nav-list {
    display: none;
    position: absolute;
    bottom: -172px;
    width: 200px;
    background-color: rgb(199, 212, 225, .8);



}

.header-mobile .nav-box .nav-list .nav-item {
    font-size: 18px;
    padding: 10px 10px;
    cursor: pointer;

}


.header-mobile .nav-box .nav-list .nav-item:hover {
    background-color: #004681;
}

.header-mobile .search-box .icon {
    width: 80px;
    height: 80px;
    background: url(../images/search.png) no-repeat center center;
    background-size: 60%;
    cursor: pointer;
}

.header-mobile .search-box {
    position: relative;
    width: 80px;
    height: 80px;
}

.header-mobile .search-con {
    width: 100vw;
    height: 100px;

}

.mobile-search {
    padding: 30px 150px;
    background-color: rgb(199, 211, 225);
}

.mobile-search .search-con {
    position: relative;
}

.mobile-search .search-con img {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 12px;
    top: 8px;
}

.mobile-search .search-con input {
    width: 100%;
    height: 40px;
}

.wrap .banner {
    height: 400px;
}

.wrap .pos-text {
    position: relative;
    top: -100px;
    width: 60vw;
    margin: auto;
    padding: 40px;
    color: #fff;
    text-align: right;
    background-color: rgba(17, 48, 88, .8);
}

.wrap .pos-text .pos-title {
    font-size: 1.5vw;
    margin-bottom: 20px;
    text-align: left;
}

.wrap .pos-text .des {
    font-size: 0.8vw;
    margin-bottom: 40px;
    text-align: left;
    word-break: break-all;
}

.wrap .pos-text button {
    width: 13vw;
    height: 3vw;
    line-height: 3vw;
    text-align: center;
    border-radius: 2.5vw;
    border: none;
    font-size: 0.8vw;
    font-weight: 550;
}

.wrap-box {
    width: 40vw;
    margin: auto;
    overflow: hidden;
}

.wrap-box .pic-box {
    width: 30vw;
    border-radius: 20px;
    overflow: hidden;
}

.icon a {
    display: block;
    width: 100%;
    height: 100%;
}

.wrap-box .pic-box :hover {
    transform: scale(1.1);
    border-radius: 20px;

    transition: 0.4s 0.3s;

}

.wrap-box .text-box {
    position: relative;
    top: -80px;
    float: right;
    width: 23vw;
    padding: 1vw;
    border-radius: 1vw;
    overflow: hidden;
    background-color: rgb(215, 215, 215, .7);
}

.wrap-box .text-box .title {
    margin-bottom: 10px;
    font-size: 1.2vw;
    color: #fff;
}

.wrap-box .text-box .tips {
    font-size: 0.8vw;
    font-weight: 550;
    color: rgb(28, 69, 123);
    word-break: break-all;
}

footer {
    padding: 30px 0 0;
    background-color: rgb(245, 245, 245);
}

footer .list {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    margin: auto;
}

footer .list .item {
    width: 300px;
}

footer .list .title {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
}

footer .list .links .link {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
    color: #1795ff;
}

footer .list .links .link :hover{
    color: #333333;
}


.copyright {
    padding: 10px;
    text-align: center;
    color: #666;
}

.divider {
    width: 100vw;
    height: 2px;
    margin: 0;
    background-color: #d1d1d1;
}


.data-container {
    background: rgba(17, 48, 88, .0);
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.btn {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background: white;
    text-decoration: none;
    color: rgb(28, 69, 123);
    font-size: 20px;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
}

.btn:after,
.btn:before {
    content: " ";
    width: 20px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
}

.btn:after {
    top: -2px;
    left: -2px;
    border-top: 5px solid rgb(28, 69, 123);
    border-left: 5px solid rgb(28, 69, 123);
}

.btn:before {
    bottom: -2px;
    right: -2px;
    border-bottom: 5px solid rgb(28, 69, 123);
    border-right: 5px solid rgb(28, 69, 123);
}

.btn:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn:hover:before,
.btn:hover:after {
    width: 100%;
    height: 100%;
}




@media screen and (max-width: 800px) {
    .header-pc {
        display: none;
    }

    .header-mobile {
        display: flex;
    }

}
