*{
    margin: 0;
     padding: 0;
     user-select: none;
}
body,.wrap-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.top-nav{
    width: 100%;
    height: 20vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004681;
}
.top-nav .left-menu{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-nav .left-menu>img{
    width: 150px;
    margin: 0 50px;
}
.top-nav .left-menu>a{
    font-size: 22px;
    margin: 0 0 0 50px;
    color: #fff;
    text-decoration: none;
}
.top-nav .left-menu .btn{
    width: 150px;
    height: 50px;
    margin: 0 0 0 50px;
    border: none;
    font-size: 18px;
    border-radius: 50px;
    background-color: #00AEEC;
    color: #fff;
    transition: background-color .5s;
    cursor: pointer;
}
.top-nav .left-menu .btn:hover{
    background-color: #1863a0;
}

.search-wrap{
    margin: 0 120px;
    border: none;
}
.search-wrap>div{
    width: 260px;
    height: 40px;
    margin: 80px 0 0 0;
    box-sizing: border-box;
    border-radius: 50px;
    position: relative;
    background-color: #fff;
}
.search-wrap>div>input{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 50px;
    outline: none;
    padding: 0 15px;
}
.search-wrap div>img{
    width: 26px;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(-50%,-50%);
}

.content-box{
    width: 100%;
    height: 80vh;
    background: url(../images/bg.jpg) no-repeat center/cover;
}
.content-box .title-box{
    padding: 65px 0;
    width: 99%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 5px;
}
.content-box .title-box>p{
    font-size: 40px;
    word-spacing:30px;
    color: #fff;
    font-family: "方正舒体";
}
.content-box .title-box>p>span{
    font-size: 80px;
    font-weight: 800;
    word-spacing:50px;
}
.text{
    margin-top: 15px;
    padding-left: 50%;
}

.content{
    position: absolute;
    right: 5%;
    bottom: 5%;
    width: 600px;
    height: 300px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255,.6);
}
.content p{
    font-size: 26px;
    text-align: right;
    color: #04497C;
    font-weight: 800;
    position: absolute;
    top: 22%;
    right: 10%;
}

.content img{
    position: absolute;
    width: 250px;
}

.content .img1{
    top: -40%;
    left: -15%;
}
.content .img2{
    right: -15%;
    bottom: -40%;
}