*{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(200deg,#1E88A8,#113285);
}
.formContainer{
	background-color: #fff;
	width: 650px;
	height: 415px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
	position: relative;
}
.form-box{
	position: absolute;
	top: -10%;
	left: 5%;
	background-color: #58B2DC;
	width: 320px;
	height: 500px;
	border-radius: 5px;
	box-shadow: 2px 0 10px rgba(0,0,0,0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	transition: 0.5s ease-in-out;
}
.register-box,.login-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
h1{
	text-align: center;
	margin-bottom: 25px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 5px;
}
.hidden{
	display: none;
	transition: 0.5s;
}
input{
	background-color: transparent;
	width: 70%;
	color: #fff;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,0.4);
	padding: 10px 0;
	text-indent: 10px;
	margin: 8px 0;
	font-size: 14px;
	letter-spacing: 2px;
}
input::placeholder{
	color: #fff;
}
input:focus{
	outline: none;
	border-bottom: 1px solid #a262ad80;
	transition: 0.5s;
}
input:focus::placeholder{
	opacity: 0;
}
.form-box button{
	width: 70%;
	margin-top: 35px;
	background-color: #f6f6f6;
	outline: none;
	border-radius: 8px;
	padding: 13px;
	color: #58B2DC;
	letter-spacing: 2px;
	border: none;
	cursor: pointer;
}
.form-box button:hover{
	background-color: #005CAF;
	color: #f6f6f6;
	transition: background-color 0.5s ease;
}
.moving-box{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.moving-box.left{
	left: -2%;
}
.moving-box.right{
	right: -2%;
}
.moving-box h2{
	color: #8e9aaf;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 4px;
}
.moving-box p{
	font-size: 12px;
	letter-spacing: 2px;
	color: #8e9aaf;
	text-align: center;
}
.moving-box span{
	color: #005CAF;
}
.moving-box img{
	width: 150px;
	height: 150px;
	opacity: 0.9;
	margin: 40px 0;
}
.moving-box button{
	margin-top: 3%;
	background-color: #fff;
	color: #005CAF;
	border: 1px solid #005CAF;
	padding: 6px 10px;
	border-radius: 5px;
	letter-spacing: 1px;
	outline: none;
	cursor: pointer;
}
.moving-box button:hover{
	background-color: #005CAF;
	color: #fff;
}

.top{
	width: 80%;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.top li {
	display: inline-block;
}

.top nav{
	flex-grow: 5;
	height: 100px;
	display: flex;
	align-items: center;
}



.top .logo{
	/*flex-grow: 1;*/
	height: 95px;
	width: 98.25px;
}

.top .logo img{
	height: 95px;
	border-radius: 5px;
}

.top .leftnav{
	flex-grow: 1;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.top .leftnav li{
	height: 50px;
	font-size: large;
	line-height: 50px;
	text-align: center;
}

/* .top .leftnav li:nth-child(2){
    background-color: #f5f7f7;
} */

/* .top .leftnav li:nth-child(2):hover div{
    display: block;
} */

/* .top .leftnav li:nth-child(2) div {
    z-index: 5000;
    padding: 0 10px;
    background-color: #FFF;
    display: none;
} */



.top .login{
	flex-grow: 1;
	height: 100px;
}


.top .rightnav{
	flex-grow: 4;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.top .rightnav li{
	height: 40px;
	font-size: medium;
	padding-top: 15px;
}
