* {
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:focus{
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    align-items: center;
    box-shadow: 0px 0px 5px 5px #ccc;
}

#pjsearch{
    height: 250px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #337AB7;
}

#pjsearchtext{
    height: 150px;
    width: 80%;
    margin: 0 auto;
    color: #f5f5f5;
    display: flex;
    align-items: center;
}

#pjsearchtext h1{
    margin: 0;
    padding: 0 10%;
}

#pjsearchtext a{
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding: 0;
    font-size: large;
}

#pjsearchbar{
    height: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

/* #pjsearchbar .input-group{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
} */

#pjsearchbar input{
    width: 80%;
    height: 80px;
    margin: 10px auto;
    font-size: x-large;
    border-color: rgb(214, 214, 214);
    border-radius: 10px;
}

#pjsearchbar input:focus + ul{
    display: block;
}

#pjsearchbar ul{
    display: none;
    width: 80%;
    z-index: 10000;
    margin: 0 auto;
    padding: 15px 0;
    background-color: #FFF;
    border: 1px solid #e6e9ee;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #ccc;
}


#pjsearchbar li{
    margin: 0 auto;
    height: 50px;
    border: 1px solid black;
}

main{
    margin: 0 auto;
    width: 90%;
    height: auto;
    padding-top: 40px;
}


footer{
    display: flex;
    background-color: #f5f5f5;
    height: 200px;
    justify-content: center;
    flex-direction: column;   

}

footer section{
    width: 80%;
    margin: 0 auto;
}

footer hr{
    margin: 0;
    border-color: rgb(214, 214, 214);
}

#bottomBody{
    height: 150px;
    padding: 20px 0;
    text-align: center;
    
}

#bottomBody li{
    margin: 10px 0;
    
}

#bottomBody li a:hover{
    color: #000;
    
}

#legalBar{
    height: 50px;
    text-align: center;
    line-height: 50px;
}


/* top-nav */
.top-nav{
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004681;
}
.top-nav .left-menu{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-nav .left-menu>img{
    width: 150px;
    margin: 0 50px;
}
.top-nav .left-menu>a{
    font-size: 22px;
    margin: 0 0 0 50px;
    color: #fff;
    text-decoration: none;
}
.top-nav .left-menu .btn{
    width: 150px;
    height: 50px;
    border: none;
    font-size: 18px;
    border-radius: 50px;
    background-color: #00AEEC;
    color: #fff;
    transition: background-color .5s;
    cursor: pointer;
}
.top-nav .left-menu .btn:hover{
    background-color: #1863a0;
}

.search-wrap{
    margin: 0 120px;
    border: none;
    display: flex;
}
.search-wrap>div{
    width: 260px;
    height: 40px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 50px;
    position: relative;
    background-color: #fff;
}
.search-wrap>div>input{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 50px;
    outline: none;
    padding: 0 15px;
}
.search-wrap div>img{
    width: 26px;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(-50%,-50%);
}
#space{
    display: none;
}
#signout{
    display: none;
    margin-left: 20px;
}
#signout .btn{
    border: none;
    border-radius: 50px;
    color: #fff;
    transition: background-color .5s;
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-size: 14px;
    background-color: lightcoral;
}
#signout .btn:hover{
    background-color: red;
}

/* top-nav */

#selectbar {
    height: 80px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #ccc;
    width: 100%;
    margin-bottom: 20px;
}

#selectbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

#selectbar ul li:first-child{
    padding: 10px 25px;
    background-color: #aaa;
    border-radius: 5px;
}

#selectbar ul li a{
    color: #aaa;
}

#selectbar ul li:first-child a{
    color: #FFF;
}

main .mainbody {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    margin: 40px auto;
}

main .mainbody div{
    margin-bottom: 40px;
}

.mainleft a img{
    height: 50px;
    margin-left: 2%;
}

.mainleft a h3{
    height: 50px;
    line-height: 50px;
}

.mainleft li{
    height: 250px;
    display: inline-block;
    padding: 5px 5px; 

}

.mainleft li p{
    margin: 5px 15px;
    height: 20px;
    line-height: 20px;
    text-align: start;
    font-size: small;
}


.mainright li:first-child a{
    line-height: 75px;

}
.mainright li:first-child p{
    font-size: larger;
}
.number{
    height: 22px;
    width: 22px;
    background-color: #00A1D6;
    color: #fff;
    text-align: center;
    line-height: 22px;
    margin-left: 20px;
}

.mainright li:first-child span{
    height: 28px;
    width: 28px;
    line-height: 28px;
}

.mainright li{
    width: 100%;
    border: 1px solid #f5f5f5;
}

.mainright p{
    text-align: start;
    color: #000;
    margin: 0;
    text-overflow: ellipsis;
}

.mainright p:hover{
    color: #00A1D6;
}

#backtop{
    position:fixed;
    z-index: 10000;
    right: 3%;
    bottom: 5%;
}

#backtop img{
    height: 40px;
    width: 25px;
}

@media screen and (min-width: 992px) {
    .mainleft li{
        height: 250px;
        width: 19.7%;
        display: inline-block;
        padding: 5px 5px;
    
    }
}


.mainleft li a {
    width: 100%;
    height: 250px;  
}

.mainleft li a img {
    width: 100%;
    height: 70%;
    border-radius: 10px; 
     
}

.mainleft li a p:first-child {    
    font-size: 14px;
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    color: #ccc;
    
}

.mainright {
    padding: 0;
}


.mainright ul{
    margin: 0 auto;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
}


.mainright li:nth-child(2n){
    background-color: #f5f5f5;
}


.mainright li a{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}
.mainright li:first-child a{
    height: 75px;
    line-height: 75px;

}
